
html { 
  background: url('bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a , a:hover,.cGreen{color:green; text-decoration:none}

a.afilter:active{border:1px solid  rgb(110, 179, 6);  text-decoration:none;background-color: lime;}

.btnActive{border:1px solid  rgb(110, 179, 6);  text-decoration:none;background-color: lime;}

.sLine{text-decoration: line-through rgba(0, 0, 255, 0.637);color:rgb(175, 175, 175) }

.w-li{ width:95%}

.divTasks{background-color: rgba(204, 201, 153, 0.836);border-radius: 10%}

.headerF{font-family: 'Rock Salt', cursive;}

.neon{
    color: rgb(245, 253, 248);
    text-shadow: 0 0 0.5em rgb(151, 204, 90), 0 0 0.5em rgb(72, 182, 108), 0 0 0.5em rgb(2, 180, 55);
  }

  ul{list-style: none;}

